In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
%%time
df =

In [2]:
pwd

'/Users/winston/Documents/coding_summer/assignemt'

In [3]:
path = '/Users/winston/Documents/coding_summer/assignemt/'

In [4]:
df = pd.read_csv(path+'movie_dataset.csv')

In [5]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [6]:
df['Rating'].max()

9.0

In [7]:
len(df['Rating'])

1000

In [9]:
filtered_df = df[df['Rating'] > 9.0]

In [10]:
filtered_df

Empty DataFrame
Columns: [Rank, Title, Genre, Description, Director, Actors, Year, Runtime (Minutes), Rating, Votes, Revenue (Millions), Metascore]
Index: []

In [91]:
import pandas as pd

# Assuming your dataset is in a variable called 'df' and the genres are in the 'Genre' column
# You might need to adjust column names based on your actual dataset

# Split multiple genres in the 'Genre' column
df['Genres'] = df['Genre'].str.split(',')

# Create a list of all genres
all_genres = [genre for genres in df['Genres'] for genre in genres]

# Get unique genres
unique_genres = set(all_genres)

# Print the number of unique genres and the list of unique genres
print("Number of unique genres:", len(unique_genres))
print("Unique genres:", unique_genres)

Number of unique genres: 20
Unique genres: {'Adventure', 'Sport', 'Family', 'Thriller', 'War', 'Musical', 'Comedy', 'Biography', 'Mystery', 'Music', 'History', 'Fantasy', 'Romance', 'Sci-Fi', 'Action', 'Crime', 'Drama', 'Animation', 'Western', 'Horror'}

/var/folders/5w/0_dc2qz557z3lf12qw4k_btm0000gn/T/ipykernel_62636/499711264.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Genres'] = df['Genre'].str.split(',')